In [ ]:
#Importando librerias para an√°lisis

import numpy as pd
import pandas as pd

In [ ]:
#Cargando Dataset de los salarios

datos_salario= pd.read_csv("/content/ds_salaries.csv")
datos_salario

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M
...,...,...,...,...,...,...,...,...,...,...,...
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

In [ ]:
#Analizando la cabecera de los datos
datos_salario.head()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2023,SE,FT,Principal Data Scientist,80000,EUR,85847,ES,100,ES,L
1,2023,MI,CT,ML Engineer,30000,USD,30000,US,100,US,S
2,2023,MI,CT,ML Engineer,25500,USD,25500,US,100,US,S
3,2023,SE,FT,Data Scientist,175000,USD,175000,CA,100,CA,M
4,2023,SE,FT,Data Scientist,120000,USD,120000,CA,100,CA,M

In [ ]:
#Analizando los ultimos datos
datos_salario.tail()

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
3750,2020,SE,FT,Data Scientist,412000,USD,412000,US,100,US,L
3751,2021,MI,FT,Principal Data Scientist,151000,USD,151000,US,100,US,L
3752,2020,EN,FT,Data Scientist,105000,USD,105000,US,100,US,S
3753,2020,EN,CT,Business Data Analyst,100000,USD,100000,US,100,US,L
3754,2021,SE,FT,Data Science Manager,7000000,INR,94665,IN,50,IN,L

In [ ]:
#Verificando la clase de datos que poseen los datos
datos_salario.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3755 entries, 0 to 3754
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   work_year           3755 non-null   int64
 1   experience_level    3755 non-null   object
 2   employment_type     3755 non-null   object
 3   job_title           3755 non-null   object
 4   salary              3755 non-null   int64
 5   salary_currency     3755 non-null   object
 6   salary_in_usd       3755 non-null   int64
 7   employee_residence  3755 non-null   object
 8   remote_ratio        3755 non-null   int64
 9   company_location    3755 non-null   object
 10  company_size        3755 non-null   object
dtypes: int64(4), object(7)
memory usage: 322.8+ KB

In [ ]:
#
datos_salario.value_counts()

work_year  experience_level  employment_type  job_title           salary  salary_currency  salary_in_usd  employee_residence  remote_ratio  company_location  company_size
2022       SE                FT               Data Scientist      191475  USD              191475         US                  100           US                M               21
                                                                  141525  USD              141525         US                  100           US                M               21
2023       SE                FT               Data Engineer       252000  USD              252000         US                  0             US                M               13
                                                                  129000  USD              129000         US                  0             US                M               13
2022       SE                FT               Data Engineer       130000  USD              130000         US                  0             US                M               12
                                                                                                                                                                              ..
                                              Data Analyst        136600  USD              136600         US                  100           US                M                1
                                                                  139600  USD              139600         US                  0             US                M                1
                                                                  140000  USD              140000         US                  100           US                M                1
                                                                  144000  USD              144000         US                  100           US                M                1
2023       SE                FT               Research Scientist  370000  USD              370000         US                  0             US                M                1
Length: 2584, dtype: int64

In [ ]:
# Analizando la cantidad de datos disponibles existente
datos_salario.shape[0]

3755

In [ ]:
datos_salario['job_title'].unique().tolist()

['Principal Data Scientist',
 'ML Engineer',
 'Data Scientist',
 'Applied Scientist',
 'Data Analyst',
 'Data Modeler',
 'Research Engineer',
 'Analytics Engineer',
 'Business Intelligence Engineer',
 'Machine Learning Engineer',
 'Data Strategist',
 'Data Engineer',
 'Computer Vision Engineer',
 'Data Quality Analyst',
 'Compliance Data Analyst',
 'Data Architect',
 'Applied Machine Learning Engineer',
 'AI Developer',
 'Research Scientist',
 'Data Analytics Manager',
 'Business Data Analyst',
 'Applied Data Scientist',
 'Staff Data Analyst',
 'ETL Engineer',
 'Data DevOps Engineer',
 'Head of Data',
 'Data Science Manager',
 'Data Manager',
 'Machine Learning Researcher',
 'Big Data Engineer',
 'Data Specialist',
 'Lead Data Analyst',
 'BI Data Engineer',
 'Director of Data Science',
 'Machine Learning Scientist',
 'MLOps Engineer',
 'AI Scientist',
 'Autonomous Vehicle Technician',
 'Applied Machine Learning Scientist',
 'Lead Data Scientist',
 'Cloud Database Engineer',
 'Financial Data Analyst',
 'Data Infrastructure Engineer',
 'Software Data Engineer',
 'AI Programmer',
 'Data Operations Engineer',
 'BI Developer',
 'Data Science Lead',
 'Deep Learning Researcher',
 'BI Analyst',
 'Data Science Consultant',
 'Data Analytics Specialist',
 'Machine Learning Infrastructure Engineer',
 'BI Data Analyst',
 'Head of Data Science',
 'Insight Analyst',
 'Deep Learning Engineer',
 'Machine Learning Software Engineer',
 'Big Data Architect',
 'Product Data Analyst',
 'Computer Vision Software Engineer',
 'Azure Data Engineer',
 'Marketing Data Engineer',
 'Data Analytics Lead',
 'Data Lead',
 'Data Science Engineer',
 'Machine Learning Research Engineer',
 'NLP Engineer',
 'Manager Data Management',
 'Machine Learning Developer',
 '3D Computer Vision Researcher',
 'Principal Machine Learning Engineer',
 'Data Analytics Engineer',
 'Data Analytics Consultant',
 'Data Management Specialist',
 'Data Science Tech Lead',
 'Data Scientist Lead',
 'Cloud Data Engineer',
 'Data Operations Analyst',
 'Marketing Data Analyst',
 'Power BI Developer',
 'Product Data Scientist',
 'Principal Data Architect',
 'Machine Learning Manager',
 'Lead Machine Learning Engineer',
 'ETL Developer',
 'Cloud Data Architect',
 'Lead Data Engineer',
 'Head of Machine Learning',
 'Principal Data Analyst',
 'Principal Data Engineer',
 'Staff Data Scientist',
 'Finance Data Analyst']

In [ ]:
len(datos_salario['jobs_title'].unique())

KeyError: ignored